{% extends '_layouts/default.twig' %}

{% block title %}SlimTwitt - The Slim/Twitter Bootstrap{% endblock %}

{% block content %}
      <h1>Easy Peasy</h1>
	  <p class="lead">Slim + Twitter = SlimTwitt</p>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
{% endblock %}
